@model Model.Group

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h3>Add new group:</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label">Course:</label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="create" class="btn btn-success w-25" />
                    <a asp-action="Index" class="btn btn-danger w-25">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

